﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Witaj</h2>
    <h3>
        Celem aplikacji "Baza filmów" jest to, abyś mógł/mogła w łatwy sposób zarządzać swoim wolnym czasem. Możesz przeglądać swoje filmy które już obejrzałeś/obejrzałaś przez dodanie ich do bazy danych aplikacji.
        W mojej aplikacji możesz również sprawdzic pogodę z zewnętrznego serwisu: https://openweathermap.org/ .
    </h3>
</div>

<div class="row">
    
    <div class="col-md-4">
       
    </div>

</div>