﻿


    
   


<body>
        <div>
            <br />
            <h2>Sprawdź Pogodę</h2>
            <h3>W tej zakładce możesz sprawdzić pogodę na aktualny moment dnia, czy może warto obejrzeć film a może jednak z powodu dobrej pogody przejść się na spacer.</h3>
            <h3>Nie czekaj, sprawdź:</h3>
        </div>
        <div id="searchContainer">
           
                <input id="searchInput" class="searchControl" type="text" placeholder="Miasto lub Kod Pocztowy" />
                <button class="searchControl" id="searchBtn">Szukaj</button>
            
        </div>
        <div id="weatherContainer">
            <div id="weatherDescription">
                <h1 id="cityHeader"></h1>
                <div id="weatherMain">
                    <div id="temperature"></div>
                    <div id="weatherDescriptionHeader"></div>
                    <div><img id="documentIconImg"></div>
                </div>
                
                <div id="windSpeed" class="bottomDetails"></div>
                <div id="humidity" class="bottomDetails"></div>
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/scriptWeatherAPI.js")" type="text/javascript"></script>
    
</body>

