﻿@model IEnumerable<ProjektZaliczeniowy_S430528.Models.Films>

@{
    ViewBag.Title = "Wyświetl Film";
}
<head>
    <style>
        table {
            border: 1px solid black;
            text-align: center;
        }

            table td {
                border: 1px solid black;
                padding: 5px;
                width: 100px;
            }

    </style>
</head>

<h2>Filmy:</h2>
<div>

    <table>
        <tr>
    <th>Tytuł:</th>
    <th>Długość filmu:</th>
    <th>Kategoria filmu:</th>
    <th>Reżyser:</th>
    <th>Premiera:</th>

        </tr>
        @if (Model != null)
        {


            foreach (ProjektZaliczeniowy_S430528.Models.Films film in Model)
            {

                <tr>
                    <td>@film.Title</td>
                    <td>@film.MovieLength</td>
                    <td>@film.MovieCategory</td>
                    <td>@film.Director</td>
                    <td>@film.ReleaseDate</td>
                </tr>


            }


        }
    </table>
</div>
