﻿@model ProjektZaliczeniowy_S430528.Models.Films

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Films</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
