﻿@model IEnumerable<ProjektZaliczeniowy_S430528.Models.Films>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.FilmsId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.FilmsId }) |
            @Html.ActionLink("Nowy", "Delete", new { id=item.FilmsId })
        </td>
    </tr>
}

</table>
